<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 使用web.xml定义Servlet -->
    <!-- 如果不使用注解，也可以在web.xml中直接定义Servlet对
         应的类型信息和映射信息，但这种“古老”的方式现在几乎不再用了，对此，了解就好！
     -->
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>cn.edu.bit.cs.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
</web-app>