.idea
out
*.iml

__pycache__
.settings/
*.class
*.ser
gen/
bin/
.springBeans
*.jar
*.class
*.war
*.bin
*.lock
.gradle/

# MAC OS related
.DS_Store
__MACOSX

target/
.mvn

# Eclipse
.classpath
.project
gen/
bin/

# Maven
/target

# Gradle
.gradle/
build/