<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 配置XML文件放在源码目录中，因此它将在构建后位于classes目录中。 -->

    <!--
        请注意，下面的XML包含基于构造函数和基于setter的spring依赖项注入的配置。
        由于MyXMLApplication使用setter方法进行注入，因此bean配置包含用于注入的属性元素"property"。
        对于基于构造函数的注入，我们必须使用"constructor-arg"元素。 -->

    <!--
        <bean id="MyXMLApp" class="com.journaldev.spring.di.consumer.MyXMLApplication">
            <constructor-arg>
                <bean class="com.journaldev.spring.di.services.TwitterService" />
            </constructor-arg>
        </bean>
    -->

    <!-- 配置使用哪个实现类对MessageService接口进行实例化 -->
    <!-- 配置MessageService接口实现类TwitterService，定义名称twitter -->
    <bean id="twitter" class="com.journaldev.spring.di.services.TwitterService"></bean>

    <bean id="MyXMLApp" class="com.journaldev.spring.di.consumer.MyXMLApplication">
        <!--property中的name对应的就是MyXMLApplication中的属性service-->
        <property name="service" ref="twitter"></property>
    </bean>

</beans>