<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 让我们看看我们将如何在spring上下文文件中配置我们的bean -->


	<!-- 请注意，我没有在其employee bean的定义中初始化employee的姓名。 -->
	<!-- Not initializing employee name variable -->
	<bean name="employee" class="com.journaldev.spring.bean.Employee" />


	<!-- 由于EmployeeService使用接口，因此我们不需要任何特殊配置。 -->
	<bean name="employeeService"
		class="com.journaldev.spring.service.EmployeeService">
		<property name="employee" ref="employee"></property>
	</bean>


	<!-- 
		对于MyEmployeeService bean，我们使用init-method和 destroy-method属性
		让spring框架知道要执行的自定义方法,也就是要spring框架知道init-method(初始化方法)
		应该调用MyEmployeeService中的名为init的method,destroy-method(销毁的时候)
		应该调用名为destroy的method.
	-->
	<bean name="myEmployeeService"
		class="com.journaldev.spring.service.MyEmployeeService"
		init-method="init" destroy-method="destroy">
		<property name="employee" ref="employee"></property>
	</bean>


	<!-- initializing CommonAnnotationBeanPostProcessor is same as context:annotation-config -->
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
		
		
	<bean name="myService"
		class="com.journaldev.spring.service.MyService" />
</beans>
