<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h2>欢迎来到首页</h2>
    <div shiro:hasPermission="user:view">
        进入查看用户功能： <a href="/userInfo/userList">查看用户</a><br/><br/>
    </div>
    <div shiro:hasPermission="user:add">
        进入用户添加功能： <a href="/userInfo/userAdd">用户添加</a><br/><br/>
    </div>
    <div shiro:hasPermission="user:del">
        进入用户del功能： <a href="/userInfo/userDel">用户del</a><br/><br/>
    </div>
    <a href="/toLogin">登录</a>
</body>
</html>