<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean初始化的顺序与bean在spring bean配置文件中定义的顺序相同-->

    <!-- 请注意，没有在其employee bean的定义中初始化employee-xzj的成员变量name -->
    <bean name="employee-xzj" class="com.springboot.beanscope.bean.Employee"/>
    <!--
        // autowire-candidate =“false”用于bean定义，使其不符合自动装配的条件
        <other name="employee-test" class="com.springboot.beanscope.other.Employee" autowire-candidate="false">
            <property name="name" value="initial value"/>
        </other>
    -->

    <bean name="employee-service-xzj" class="com.springboot.beanscope.service.EmployeeService"
        init-method="init" destroy-method="destroy">
        <property name="employee" ref="employee-xzj"/>
    </bean>

    <!-- 对于基于构造函数的注入，我们必须使用"constructor-arg"元素。 -->
    <!--
        <other class="">
            <constructor-arg>
                <other class="" />
            </constructor-arg>
        </other>
    -->

    <!-- 启动基于注解的配置 -->
    <!--<context:annotation-config />-->
</beans>