<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xzj" class="com.spring.bean.lifecycle.core.beans.InstD" init-method="init" destroy-method="destroy">
        <property name="name" value="xzj-name"></property>
    </bean>

</beans>