<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
	<display-name>ServletListener-Example</display-name>
	<context-param>
		<param-name>AppPath</param-name>
		<param-value>/listener</param-value>
	</context-param>

	<listener>
		<listener-class>com.listener.core.MyServletContextAttributeListener</listener-class>
	</listener>
</web-app>