<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<!-- spring bean配置文件 -->

	<!-- 
		要在Spring bean中使用Spring AOP，我们需要执行以下操作:
	
		1.  声明AOP名称空间，如xmlns:aop =“http://www.springframework.org/schema/aop”
		2. Add aop:aspectj-autoproxy element to enable Spring AspectJ support 
		with auto proxy at runtime
			添加aop：aspectj-autoproxy元素以在运行时使用自动代理启用Spring AspectJ支持
		3. Configure Aspect classes as other Spring beans
			将Aspect类配置为其他Spring bean -->

	<!-- Enable AspectJ style of Spring AOP -->
	<aop:aspectj-autoproxy />

	<!-- Configure Employee Bean and initialize it -->
	<bean name="employee" class="com.journaldev.spring.model.Employee">
		<property name="name" value="Dummy Name"></property>
	</bean>

	<!-- Configure EmployeeService bean -->
	<bean name="employeeService"
		class="com.journaldev.spring.service.EmployeeService">
		<property name="employee" ref="employee"></property>
	</bean>


	<!-- 可以看到我在spring bean配置文件中定义了很多aspects ， it’s time to 
	look into those one by one.是时候逐个查看它们了。 -->
	<!-- Configure Aspect Beans, without this Aspects advices wont execute -->
	<bean name="employeeAspect"
		class="com.journaldev.spring.aspect.EmployeeAspect" />
	<bean name="employeeAspectPointcut"
		class="com.journaldev.spring.aspect.EmployeeAspectPointcut" />
	<bean name="employeeAspectJoinPoint"
		class="com.journaldev.spring.aspect.EmployeeAspectJoinPoint" />
	<bean name="employeeAfterAspect"
		class="com.journaldev.spring.aspect.EmployeeAfterAspect" />
	<bean name="employeeAroundAspect"
		class="com.journaldev.spring.aspect.EmployeeAroundAspect" />
	<bean name="employeeAnnotationAspect"
		class="com.journaldev.spring.aspect.EmployeeAnnotationAspect" />
		
	<bean name="employeeXMLConfigAspect"
		class="com.journaldev.spring.aspect.EmployeeXMLConfigAspect" />


	<!-- We can configure "Spring AOP XML Configuration" by including 
	following configuration in the Spring Bean config file.
	-->
	<!-- Spring AOP XML Configuration -->
	<!-- AOP xml config elements purpose is clear from their name, so I 
	won’t go into much detail about it.
	AOP xml配置元素的目的很明显，因此我不会详细介绍它。 -->
	<aop:config>
		<aop:aspect ref="employeeXMLConfigAspect"
			id="employeeXMLConfigAspectID" order="1">
			<aop:pointcut
				expression="execution(* com.journaldev.spring.model.Employee.getName())"
				id="getNamePointcut" />
			<aop:around method="employeeAroundAdvice"
				pointcut-ref="getNamePointcut" arg-names="proceedingJoinPoint" />
		</aop:aspect>
	</aop:config>
</beans>
