<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.spring.mapper.UserMapper">
    <!--映射文件的namespace属性值”org.mybatis.spring.mapper.UserMapper"就是UserMapper接口的全路径-->

    <!--映射文件中的<select> 、<insert>元素的id属性值”selectById”、"insert"，对应UserMapper接口中的selectById方法和insert方法。-->
    <!--之后，我们调用UserMapper接口中的方法，就会执行UserMapper.xml中对应的sql。 -->
    <select id="selectById" resultType="User">
        select * from user where id = #{id}
    </select>

    <insert id="insert" parameterType="org.mybatis.spring.domain.User">
        insert into user(name,age) values(#{name},#{age})
    </insert>

</mapper>
